<!doctype html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<html>
    
<head>
    {% block head %}
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>

<body>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class="flashes">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    
    <div id="content">
        {% block content %}{% endblock %}
    </div>
    
<footer align=center>
    {% block footer %}
    &copy; Copyright 2017 by <a href="https://f81f1d52b814487fa4de5dc887b5dbec.vfs.cloud9.us-west-2.amazonaws.com/">The Weather App Co.</a>
    {% endblock %}
</footer>    
    
</body>
    
</html>